In [8]:
import pandas as pd
import numpy as np
import re

In [9]:
samsung = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\SAMSUNG.csv")
samsung.head(5)

,Unnamed: 0,model_name,review,rating_by_reviewer,price
0,0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999"
1,1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999"
2,2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999"
3,3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999"
4,4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999"

In [10]:
vivo = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\VIVO.csv")
realme = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\REALME.csv")
poco = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\POCO.csv")
oppo = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\OPPO.csv")
moto_google_nothing = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\Nothing,MOTO,Google.csv")
mi_redmi_xiaomi = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\MI , Redmi , Xiaomi.csv")
iphone = pd.read_csv(r"C:\Users\YASH KHADTARE\FERGUSSON\SEM 3\Final year Project\1 DATA COLLECTION\Iphone.csv")

In [11]:
df = pd.concat([samsung,vivo,realme,poco,oppo,moto_google_nothing,mi_redmi_xiaomi,iphone] , axis = 0)
df

,Unnamed: 0,model_name,review,rating_by_reviewer,price
0,0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999"
1,1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999"
2,2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999"
3,3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999"
4,4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999"
...,...,...,...,...,...
6261,6261,"APPLE iPhone 5s (Space Grey, 16 GB)",Such an awesome phone its like a dream come tr...,5,"₹25,000"
6262,6262,"APPLE iPhone 5s (Space Grey, 16 GB)",iPhone 5s is the best and very much satisfying...,4,"₹25,000"
6263,6263,"APPLE iPhone 5s (Space Grey, 16 GB)","Bought it for 14k, bcoz I missed a chance to b...",4,"₹25,000"
6264,6264,"APPLE iPhone 5s (Space Grey, 16 GB)",Thank you Flipkart. For sending genuine produc...,5,"₹25,000"
6265,6265,"APPLE iPhone 5s (Space Grey, 16 GB)",Awsome service by flipkart Original and assure...,5,"₹25,000"

In [12]:
# df = df.sample(10000)

In [13]:
df.drop("Unnamed: 0" , axis =1 , inplace=True)

In [14]:
df.reset_index(drop=True, inplace=True)
df.head(10)

,model_name,review,rating_by_reviewer,price
0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999"
1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999"
2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999"
3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999"
4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999"
5,SAMSUNG Galaxy Z Fold4 5G,I really don't understand the negative reviews...,5,"₹1,64,999"
6,SAMSUNG Galaxy Z Fold4 5G,Multitasking productivity beast!,5,"₹1,64,999"
7,SAMSUNG Galaxy Z Fold4 5G,Great device.,5,"₹1,64,999"
8,SAMSUNG Galaxy Z Fold4 5G,Excellent performance ..!,5,"₹1,64,999"
9,SAMSUNG Galaxy Z Fold4 5G,"Phone is superb, superb battery, camera is coo...",5,"₹1,64,999"

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 355076 entries, 0 to 355075
Data columns (total 4 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   model_name          355076 non-null  object
 1   review              354880 non-null  object
 2   rating_by_reviewer  355076 non-null  int64
 3   price               355076 non-null  object
dtypes: int64(1), object(3)
memory usage: 10.8+ MB

In [16]:
df.isnull().sum()

model_name              0
review                196
rating_by_reviewer      0
price                   0
dtype: int64

# 196 null values

In [17]:
df.dropna(inplace = True)
df.isnull().sum()

model_name            0
review                0
rating_by_reviewer    0
price                 0
dtype: int64

In [18]:
def remove_punctuations(i):
    
    i=re.sub(r'[^a-zA-Z ]','',i)
    
    return i

In [19]:
df['cleaned_review'] = df['review'].apply(remove_punctuations)

In [20]:
df.head()

,model_name,review,rating_by_reviewer,price,cleaned_review
0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999",Great phone really good looking and specimen o...
1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999",Hinge is good and phone is handyCG glass Victu...
2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999",The phone is an actual testament of Ultra Pro ...
3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999",Nice looking ND battery performance is good bu...
4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999",All good

In [21]:
# Seperating Joined words ,  ex - "Hinge is good and phone is handyCG glass Victus is goodDisplay is goodNo fast charging"
# These occur due to line break or paragraph change
def handle_joined_words(i):
    i = re.sub(r'([a-z])([A-Z])', r'\1 \2', i)
    return i


df['cleaned_review'] = df['cleaned_review'].apply(handle_joined_words)

In [22]:
print(df.iloc[1 , 1] ,"\n", df.iloc[1 , -1])

Hinge is good and phone is handyCG glass Victus is goodDisplay is goodNo fast charging
 Hinge is good and phone is handy CG glass Victus is good Display is good No fast charging

# all reviews to Lower case

In [23]:
df['cleaned_review'] = df['cleaned_review'].str.lower()

In [24]:
df

,model_name,review,rating_by_reviewer,price,cleaned_review
0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999",great phone really good looking and specimen o...
1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999",hinge is good and phone is handy cg glass vict...
2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999",the phone is an actual testament of ultra pro ...
3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999",nice looking nd battery performance is good bu...
4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999",all good
...,...,...,...,...,...
355071,"APPLE iPhone 5s (Space Grey, 16 GB)",Such an awesome phone its like a dream come tr...,5,"₹25,000",such an awesome phone its like a dream come tr...
355072,"APPLE iPhone 5s (Space Grey, 16 GB)",iPhone 5s is the best and very much satisfying...,4,"₹25,000",i phone s is the best and very much satisfying...
355073,"APPLE iPhone 5s (Space Grey, 16 GB)","Bought it for 14k, bcoz I missed a chance to b...",4,"₹25,000",bought it for k bcoz i missed a chance to buy ...
355074,"APPLE iPhone 5s (Space Grey, 16 GB)",Thank you Flipkart. For sending genuine produc...,5,"₹25,000",thank you flipkart for sending genuine product...
355075,"APPLE iPhone 5s (Space Grey, 16 GB)",Awsome service by flipkart Original and assure...,5,"₹25,000",awsome service by flipkart original and assure...

# Lemmatization

In [25]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from nltk.corpus import wordnet

In [26]:
word_net = WordNetLemmatizer()        #creating word net lemmatizing object


def pos_tagger(nltk_tag):
    if nltk_tag.startswith('J'):
        return wordnet.ADJ
    elif nltk_tag.startswith('V'):
        return wordnet.VERB
    elif nltk_tag.startswith('N'):
        return wordnet.NOUN
    elif nltk_tag.startswith('R'):
        return wordnet.ADV
    else:         
        return None

In [27]:
def lemmatizing(i):
    words_split = i.split()   #splitting words
    
    no_stopwords = [i for i in words_split if i not in stopwords.words("English")]  #removing stopwords
     #Giving part of speech to each word
    no_stopwords = nltk.pos_tag(no_stopwords)      
    
    List=[]                   
    
    for i in no_stopwords:
        a=(i[0],pos_tagger(i[1]))
        List.append(a)


    # apply pos tag and lemmatization
    list_of_strings = []
    for i in List:
        try: 
            list_of_strings.append(word_net.lemmatize(i[0],i[1]))
        except:
            list_of_strings.append(word_net.lemmatize(i[0]))
    return " ".join(list_of_strings)


x = "Hinge is good and phone is handy CG glass Victus is good Display is good No fast charging"
lemmatizing(x)

'Hinge good phone handy CG glass Victus good Display good No fast charge'

In [21]:
import time
START = time.time()
df['cleaned_review'] = df['cleaned_review'].apply(lemmatizing)
STOP = time.time()
print((STOP - START)/60)

14.226628096898397

In [22]:
df

,model_name,review,rating_by_reviewer,price,cleaned_review
0,SAMSUNG Galaxy Z Fold5,"Great phone, really good looking and specimen ...",5,"₹1,84,999",great phone really good look specimen technology
1,SAMSUNG Galaxy Z Fold5,Hinge is good and phone is handyCG glass Victu...,5,"₹1,84,999",hinge good phone handy cg glass victus good di...
2,SAMSUNG Galaxy Z Fold5,"The phone is an actual testament of Ultra, Pro...",5,"₹1,84,999",phone actual testament ultra pro max get right...
3,SAMSUNG Galaxy Z Fold5,Nice looking ND battery performance is good bu...,4,"₹1,84,999",nice look nd battery performance good camera good
4,SAMSUNG Galaxy Z Fold4 5G,All good,5,"₹1,64,999",good
...,...,...,...,...,...
355071,"APPLE iPhone 5s (Space Grey, 16 GB)",Such an awesome phone its like a dream come tr...,5,"₹25,000",awesome phone like dream come true buying than...
355072,"APPLE iPhone 5s (Space Grey, 16 GB)",iPhone 5s is the best and very much satisfying...,4,"₹25,000",phone best much satisfy phone ever use camera ...
355073,"APPLE iPhone 5s (Space Grey, 16 GB)","Bought it for 14k, bcoz I missed a chance to b...",4,"₹25,000",buy k bcoz miss chance buy phone bajaj digital...
355074,"APPLE iPhone 5s (Space Grey, 16 GB)",Thank you Flipkart. For sending genuine produc...,5,"₹25,000",thank flipkart send genuine product time deliv...
355075,"APPLE iPhone 5s (Space Grey, 16 GB)",Awsome service by flipkart Original and assure...,5,"₹25,000",awsome service flipkart original assured quali...

In [23]:
DATA = df
DATA.to_csv("DATA.csv")